# Generated data
xml_data.c
xml_data.h


# Windows files
Thumbs.db
thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# Python libs
xmltodict.pyc


# Everything in the build dir
build/*


# Ignore dot-folders/files, except the gitignore file
.*
!.gitignore
