# Object files
*.o
*.ko
*.lst


# Libraries
*.lib
*.a


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib


# Executables
*.exe
*.out
*.app
*.elf
*elf.map
*.hex
*.ee.hex


# Windows files
Thumbs.db
thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# Python libs
xmltodict.pyc


# Everything in the build dir
build/*


# Ignore dot-folders/files, except the gitignore file
.*
!.gitignore
